node_modules
dist
build
.next
.turbo
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
.vscode
.idea
apps/*/dist
apps/*/build
apps/*/.next
apps/*/.turbo
packages/*/dist
packages/*/.turbo
packages/db/generated

# TypeScript incremental build
*.tsbuildinfo
apps/storefront/.next
